<div *ngIf="user">
    <div class="page-header" style="min-height: 300px;border-bottom: none;">
        <div class="row">
            <!-- <div class="col-lg-8 col-md-7 col-sm-6"> -->
                <h1>{{ user.username }}</h1>
                <p class="lead">Welcome to Ceres</p>
                <hr>
                <ul class="list-unstyled">
                    <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
                    <li>Slug: {{ user.slug }}</li>
                    <li>Email: {{ user.email }}</li>
                    <li>UUID: {{ user.id }}</li>
                    <br>
                    <li>Friends: </li>
                    <li>Activity: </li>
                    <br>
                    <small>
                        <li>Created at: {{ user.created_at }}</li>
                        <li>Updated at: {{ user.updated_at }}</li>
                    </small>
                </ul>
            <!-- </div> -->
        </div>
    </div>
</div>
