<form [ngFormModel]="registrationForm" (submit)="doRegister($event)">
    <fieldset>
        <div class="card">
            <div class="card-block">
                <legend>Register</legend>
                <hr>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" ngControl="username" placeholder="Username"/>
                    <control-messages [control]="registrationForm.controls.username"></control-messages>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="email" ngControl="email" placeholder="Email"/>
                    <control-messages [control]="registrationForm.controls.email"></control-messages>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input class="form-control" id="first_name" type="text" ngControl="first_name" placeholder="First Name"/>
                    <control-messages [control]="registrationForm.controls.first_name"></control-messages>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input class="form-control" id="last_name" type="text" ngControl="last_name" placeholder="Last Name"/>
                    <control-messages [control]="registrationForm.controls.last_name"></control-messages>
                </div>
                <div ngControlGroup="matching_password">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" type="password" ngControl="password" placeholder="Password"/>
                        <control-messages [control]="registrationForm.controls.matching_password.controls.password"></control-messages>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm password</label>
                        <input class="form-control" id="confirm_password" type="password" ngControl="confirm_password" placeholder="Confirm password"/>
                        <control-messages [control]="registrationForm.controls.matching_password.controls.confirm_password"></control-messages>
                    </div>
                    <control-messages [control]="registrationForm.controls.matching_password"></control-messages>
                </div>
                <button class="btn btn-primary btn-block" [disabled]="!registrationForm.valid">Submit</button>
            </div>
            <div class="card-footer">
                <a class="card-link" [routerLink]="['Login-Page']" >Login</a>
                <a class="card-link" href="#forgot password" >Forgot your password</a>
            </div>
        </div>
    </fieldset>
</form>
